# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
ENV/
env/
.env

# Distribution / packaging
dist/
build/
*.egg-info/

# IDEs
.idea/
.vscode/
*.swp
*.swo

# Project specific
assignment_instructions*
.DS_Store 